<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.documentproviderextensionios</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.iosAppExtensionBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template builds a Document Provider application extension, optionally with an associated File Provider extension.</string>
	<key>SortOrder</key>
	<integer>3</integer>
	<key>Targets</key>
	<array>
		<dict>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.documentProviderExtension</string>
            <key>SharedSettings</key>
            <dict>
                <key>CODE_SIGN_ENTITLEMENTS</key>
                <string>___PACKAGENAME___/___PACKAGENAMEASIDENTIFIER___.entitlements</string>
            </dict>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>includeNonUI</string>
			<key>NotPersisted</key>
			<true/>
			<key>Name</key>
			<string>Include a File Provider extension</string>
			<key>Description</key>
			<string>If this option is checked, Xcode will create a File Provider extension as well as a Document Picker interface extension. Otherwise it will create only a Document Picker interface extension.</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>true</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<array>
					<dict>
						<key>Components</key>
						<array>
							<dict>
								<key>Identifier</key>
								<string>com.apple.dt.unit.fileproviderextensionios</string>
								<key>Name</key>
								<string>___PACKAGENAME___FileProvider</string>
                                <key>AssociatedTargetIsSameAsIncluder</key>
                                <true/>
							</dict>
						</array>
                        <key>Definitions</key>
                        <dict>
                            <key>Info.plist:NSExtension</key>
                            <string>&lt;key&gt;NSExtension&lt;/key&gt;
&lt;dict&gt;
    &lt;key&gt;NSExtensionPointIdentifier&lt;/key&gt;
    &lt;string&gt;com.apple.fileprovider-ui&lt;/string&gt;
    &lt;key&gt;NSExtensionAttributes&lt;/key&gt;
    &lt;dict&gt;
        &lt;key&gt;UIDocumentPickerModes&lt;/key&gt;
        &lt;array&gt;
            &lt;string&gt;UIDocumentPickerModeImport&lt;/string&gt;
            &lt;string&gt;UIDocumentPickerModeOpen&lt;/string&gt;
            &lt;string&gt;UIDocumentPickerModeExportToService&lt;/string&gt;
            &lt;string&gt;UIDocumentPickerModeMoveToService&lt;/string&gt;
        &lt;/array&gt;
        &lt;key&gt;UIDocumentPickerSupportedFileTypes&lt;/key&gt;
        &lt;array&gt;
            &lt;string&gt;public.content&lt;/string&gt;
        &lt;/array&gt;
    &lt;/dict&gt;
    &lt;key&gt;NSExtensionMainStoryboard&lt;/key&gt;
    &lt;string&gt;MainInterface&lt;/string&gt;
&lt;/dict&gt;
</string>
                        </dict>
					</dict>
				</array>
				<key>false</key>
				<array>
					<dict>
                        <key>Definitions</key>
                        <dict>
                            <key>Info.plist:NSExtension</key>
                            <string>&lt;key&gt;NSExtension&lt;/key&gt;
&lt;dict&gt;
    &lt;key&gt;NSExtensionPointIdentifier&lt;/key&gt;
    &lt;string&gt;com.apple.fileprovider-ui&lt;/string&gt;
    &lt;key&gt;NSExtensionAttributes&lt;/key&gt;
    &lt;dict&gt;
        &lt;key&gt;UIDocumentPickerModes&lt;/key&gt;
        &lt;array&gt;
            &lt;string&gt;UIDocumentPickerModeImport&lt;/string&gt;
            &lt;string&gt;UIDocumentPickerModeExportToService&lt;/string&gt;
        &lt;/array&gt;
        &lt;key&gt;UIDocumentPickerSupportedFileTypes&lt;/key&gt;
        &lt;array&gt;
            &lt;string&gt;public.content&lt;/string&gt;
        &lt;/array&gt;
    &lt;/dict&gt;
    &lt;key&gt;NSExtensionMainStoryboard&lt;/key&gt;
    &lt;string&gt;MainInterface&lt;/string&gt;
&lt;/dict&gt;
</string>
                        </dict>
					</dict>
				</array>
			</dict>
		</dict>
        <dict>
            <key>Identifier</key>
            <string>languageChoice</string>
            <key>Units</key>
            <dict>
                <key>Objective-C</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>DocumentPickerViewController.h</string>
                        <string>DocumentPickerViewController.m</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>DocumentPickerViewController.h</key>
                        <dict>
                            <key>Path</key>
                            <string>DocumentPickerViewController.h</string>
                        </dict>
                        <key>DocumentPickerViewController.m</key>
                        <dict>
                            <key>Path</key>
                            <string>DocumentPickerViewController.m</string>
                        </dict>
                    </dict>
                </dict>
                <key>Swift</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>DocumentPickerViewController.swift</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>DocumentPickerViewController.swift</key>
                        <dict>
                            <key>Path</key>
                            <string>DocumentPickerViewController.swift</string>
                        </dict>
                    </dict>
                </dict>
            </dict>
        </dict>
    </array>
	<key>Nodes</key>
	<array>
        <string>Info.plist:NSExtension</string>
        <string>___PACKAGENAMEASIDENTIFIER___.entitlements</string>
		<string>Base.lproj/MainInterface.storyboard</string>
	</array>
	<key>Definitions</key>
	<dict>
        <key>Base.lproj/MainInterface.storyboard</key>
        <dict>
            <key>Path</key>
            <string>MainInterface.storyboard</string>
            <key>SortOrder</key>
            <integer>99</integer>
        </dict>
        <key>___PACKAGENAMEASIDENTIFIER___.entitlements</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAMEASIDENTIFIER___.entitlements</string>
            <key>Group</key>
            <string>Supporting Files</string>
            <key>TargetIdentifiers</key>
            <array/>
        </dict>
	</dict>
</dict>
</plist>
