<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.actionextensionios</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.iosAppExtensionBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template builds an Action application extension.</string>
	<key>SortOrder</key>
	<integer>3</integer>
	<key>Targets</key>
	<array>
		<dict>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.actionExtension</string>
		</dict>
	</array>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>actionType</string>
            <key>NotPersisted</key>
            <true/>
            <key>Name</key>
            <string>Action Type:</string>
            <key>Description</key>
            <string>An action that presents an interface has a view controller for the user to interact with. An action that requires no user input should present no interface.</string>
            <key>Type</key>
            <string>popup</string>
            <key>Values</key>
            <array>
                <string>Presents User Interface</string>
                <string>No User Interface</string>
            </array>
            <key>Default</key>
            <string>Presents User Interface</string>
            <key>Units</key>
            <dict>
                <key>Presents User Interface</key>
                <array>
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Objective-C</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>ActionViewController.h</string>
                            <string>ActionViewController.m</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>ActionViewController.h</key>
                            <dict>
                                <key>Path</key>
                                <string>ActionViewController.h</string>
                            </dict>
                            <key>ActionViewController.m</key>
                            <dict>
                                <key>Path</key>
                                <string>ActionViewController.m</string>
                            </dict>
                        </dict>
                    </dict>
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Swift</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>ActionViewController.swift</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>ActionViewController.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>ActionViewController.swift</string>
                            </dict>
                        </dict>
                    </dict>
                    <dict>
                        <key>Nodes</key>
                        <array>
                            <string>Info.plist:NSExtension</string>
                            <string>Base.lproj/MainInterface.storyboard</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>Info.plist:NSExtension</key>
                            <string>&lt;key&gt;NSExtension&lt;/key&gt;
&lt;dict&gt;
    &lt;key&gt;NSExtensionMainStoryboard&lt;/key&gt;
    &lt;string&gt;MainInterface&lt;/string&gt;
    &lt;key&gt;NSExtensionPointIdentifier&lt;/key&gt;
    &lt;string&gt;com.apple.ui-services&lt;/string&gt;
    &lt;key&gt;NSExtensionAttributes&lt;/key&gt;
    &lt;dict&gt;
        &lt;key&gt;NSExtensionActivationRule&lt;/key&gt;
        &lt;string&gt;TRUEPREDICATE&lt;/string&gt;
    &lt;/dict&gt;
&lt;/dict&gt;
                            </string>
                            <key>Base.lproj/MainInterface.storyboard</key>
                            <dict>
                                <key>Path</key>
                                <string>MainInterface.storyboard</string>
                                <key>SortOrder</key>
                                <integer>99</integer>
                            </dict>
                        </dict>
                    </dict>
                </array>
                <key>No User Interface</key>
                <array>
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Objective-C</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>ActionRequestHandler.h</string>
                            <string>ActionRequestHandler.m</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>ActionRequestHandler.h</key>
                            <dict>
                                <key>Path</key>
                                <string>ActionRequestHandler.h</string>
                            </dict>
                            <key>ActionRequestHandler.m</key>
                            <dict>
                                <key>Path</key>
                                <string>ActionRequestHandler.m</string>
                            </dict>
                        </dict>
                    </dict>
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Swift</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>ActionRequestHandler.swift</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>ActionRequestHandler.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>ActionRequestHandler.swift</string>
                            </dict>
                        </dict>
                    </dict>
                    <dict>
                        <key>Nodes</key>
                        <array>
                            <string>Info.plist:NSExtension</string>
                            <string>Action.js</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>Info.plist:NSExtension</key>
                            <string>&lt;key&gt;NSExtension&lt;/key&gt;
&lt;dict&gt;
    &lt;key&gt;NSExtensionPrincipalClass&lt;/key&gt;
    &lt;string&gt;___VARIABLE_moduleNamePrefixForClasses:XML___ActionRequestHandler&lt;/string&gt;
    &lt;key&gt;NSExtensionPointIdentifier&lt;/key&gt;
    &lt;string&gt;com.apple.services&lt;/string&gt;
    &lt;key&gt;NSExtensionAttributes&lt;/key&gt;
    &lt;dict&gt;
        &lt;key&gt;NSExtensionActivationRule&lt;/key&gt;
        &lt;dict&gt;
            &lt;key&gt;NSExtensionActivationSupportsText&lt;/key&gt;
            &lt;false/&gt;
            &lt;key&gt;NSExtensionActivationSupportsWebURLWithMaxCount&lt;/key&gt;
            &lt;integer&gt;1&lt;/integer&gt;
            &lt;key&gt;NSExtensionActivationSupportsImageWithMaxCount&lt;/key&gt;
            &lt;integer&gt;0&lt;/integer&gt;
            &lt;key&gt;NSExtensionActivationSupportsMovieWithMaxCount&lt;/key&gt;
            &lt;integer&gt;0&lt;/integer&gt;
            &lt;key&gt;NSExtensionActivationSupportsFileWithMaxCount&lt;/key&gt;
            &lt;integer&gt;0&lt;/integer&gt;
        &lt;/dict&gt;
        &lt;key&gt;NSExtensionJavaScriptPreprocessingFile&lt;/key&gt;
        &lt;string&gt;Action&lt;/string&gt;
    &lt;/dict&gt;
&lt;/dict&gt;
                            </string>
                            <key>Action.js</key>
                            <dict>
                                <key>Path</key>
                                <string>Action.js</string>
                            </dict>
                        </dict>
                    </dict>
                </array>
            </dict>
        </dict>
    </array>
</dict>
</plist>
