<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.gjs.dt.unit.singleViewApplication</string>
	<key>Ancestors</key>
	<array>
		<string>com.gjs.dt.unit.storyboardApplication</string>
		<!-- 自己定义 use coreData ，不继承，采用这种方式有一个弊端，就是你得手动删除Main文件夹，而使用Main(use coreData)文件夹 -->
		<!-- <string>com.gjs.dt.unit.coreDataCocoaTouchApplication</string> -->
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.It uses custom structure.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>coreData</string>
			<key>Name</key>
			<string>Use Core Data</string>
			<key>Description</key>
			<string>Whether the application should use the Core Data framework for storage</string>
			<key>SortOrder</key>
			<integer>1</integer>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>___PACKAGENAMEASIDENTIFIER___.xcdatamodeld</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>___PACKAGENAMEASIDENTIFIER___.xcdatamodeld</key>
							<dict>
								<key>Path</key>
								<string>___PACKAGENAMEASIDENTIFIER___.xcdatamodeld</string>
                                <key>SortOrder</key>
                                <integer>99</integer>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>languageChoice</key>
							<string>Objective-C</string>
						</dict>
						<key>Nodes</key>
						<array>
							<!-- <string>Info.plist</string> -->
							<string>Prefix.pch</string>
							<string>src/Class/Main(use coreData)/AppDelegate.h</string>
							<string>src/Class/Main(use coreData)/AppDelegate.m</string>
							<string>src/Class/Component/RootViewController/RootViewController.h</string>
							<string>src/Class/Component/RootViewController/RootViewController.m</string>
							<string>src/Class/Component/RootViewController/NavigationController/NavigationController.h</string>
							<string>src/Class/Component/RootViewController/NavigationController/NavigationController.m</string>
							<string>src/Class/Component/RootViewController/TabBarController/TabBarController.h</string>
							<string>src/Class/Component/RootViewController/TabBarController/TabBarController.m</string>
							<string>src/Class/Component/Common</string>
							<string>src/Lib</string>
							<string>src/Util</string>
							<string>resources/Default-568h@2x.png</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>src/Lib</key>
							<dict>
								<key>Group</key>
								<array>
									<string>src</string>
								</array>
								<key>Path</key>
								<string>src/Lib</string>
							</dict>
							<key>src/Util</key>
							<dict>
								<key>Group</key>
								<array>
									<string>src</string>
								</array>
								<key>Path</key>
								<string>src/Util</string>
							</dict>
							<key>resources/Default-568h@2x.png</key>
							<dict>
								<key>Group</key>
								<array>
									<string>resources</string>
								</array>
								<key>Path</key>
								<string>resources/Default-568h@2x.png</string>
							</dict>
							<key>src/Class/Component/Common</key>
							<dict>
								<key>Group</key>
								<array>
									<string>src</string>
									<string>Class</string>
									<string>Component</string>
								</array>
								<key>Path</key>
								<string>src/Class/Component/Common</string>
							</dict>
							<key>src/Class/Component/RootViewController/RootViewController.h</key>
							<dict>
								<key>Group</key>
								<array>
									<string>src</string>
									<string>Class</string>
									<string>Component</string>
									<string>RootViewController</string>
								</array>
								<key>Path</key>
								<string>src/Class/Component/RootViewController/RootViewController.h</string>
							</dict>
							<key>src/Class/Component/RootViewController/RootViewController.m</key>
							<dict>
								<key>Group</key>
								<array>
									<string>src</string>
									<string>Class</string>
									<string>Component</string>
									<string>RootViewController</string>
								</array>
								<key>Path</key>
								<string>src/Class/Component/RootViewController/RootViewController.m</string>
							</dict>
							<key>src/Class/Component/RootViewController/NavigationController/NavigationController.h</key>
							<dict>
								<key>Group</key>
								<array>
									<string>src</string>
									<string>Class</string>
									<string>Component</string>
									<string>RootViewController</string>
									<string>NavigationController</string>
								</array>
								<key>Path</key>
								<string>src/Class/Component/RootViewController/NavigationController/NavigationController.h</string>
							</dict>
							<key>src/Class/Component/RootViewController/NavigationController/NavigationController.m</key>
							<dict>
								<key>Group</key>
								<array>
									<string>src</string>
									<string>Class</string>
									<string>Component</string>
									<string>RootViewController</string>
									<string>NavigationController</string>
								</array>
								<key>Path</key>
								<string>src/Class/Component/RootViewController/NavigationController/NavigationController.m</string>
							</dict>
							<key>src/Class/Component/RootViewController/TabBarController/TabBarController.h</key>
							<dict>
								<key>Group</key>
								<array>
									<string>src</string>
									<string>Class</string>
									<string>Component</string>
									<string>RootViewController</string>
									<string>TabBarController</string>
								</array>
								<key>Path</key>
								<string>src/Class/Component/RootViewController/TabBarController/TabBarController.h</string>
							</dict>
							<key>src/Class/Component/RootViewController/TabBarController/TabBarController.m</key>
							<dict>
								<key>Group</key>
								<array>
									<string>src</string>
									<string>Class</string>
									<string>Component</string>
									<string>RootViewController</string>
									<string>TabBarController</string>
								</array>
								<key>Path</key>
								<string>src/Class/Component/RootViewController/TabBarController/TabBarController.m</string>
							</dict>
							<!--
							<key>Info.plist</key>
							<dict>
								<key>Group</key>
								<string>Supporting Files</string>
								<key>Path</key>
								<string>Info.plist</string>
								<key>TargetIndices</key>
								<array/>
							</dict>
							-->
							<key>Prefix.pch</key>
							<dict>
								<key>Group</key>
								<string>Supporting Files</string>
								<key>Path</key>
								<string>Prefix.pch</string>
								<key>TargetIndices</key>
								<array/>
							</dict>
							<key>src/Class/Main(use coreData)/AppDelegate.h</key>
							<dict>
								<key>Group</key>
								<array>
									<string>src</string>
									<string>Class</string>
									<string>Main(use coreData)</string>
								</array>
								<key>Path</key>
								<string>src/Class/Main(use coreData)/AppDelegate.h</string>
							</dict>
							<key>src/Class/Main(use coreData)/AppDelegate.m</key>
							<dict>
								<key>Group</key>
								<array>
									<string>src</string>
									<string>Class</string>
									<string>Main(use coreData)</string>
								</array>
								<key>Path</key>
								<string>src/Class/Main(use coreData)/AppDelegate.m</string>
							</dict>
							<!--
							<key>Base.lproj/Main.storyboard</key>
							<dict>
								<key>Path</key>
								<string>Main.storyboard</string>
								<key>SortOrder</key>
								<integer>99</integer>
							</dict>
							-->
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>languageChoice</key>
							<string>Swift</string>
						</dict>
						<key>Nodes</key>
						<array>
							<!-- <string>Info.plist</string> -->
							<string>Prefix.pch</string>
							<string>src/Class/Main(use coreData)/AppDelegate.swift</string>
							<string>src/Class/Component/RootViewController/RootViewController.swift</string>
							<string>src/Class/Component/Common</string>
							<string>src/Lib</string>
							<string>src/Util</string>
							<string>resources/Default-568h@2x.png</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>src/Lib</key>
							<dict>
								<key>Group</key>
								<array>
									<string>src</string>
								</array>
								<key>Path</key>
								<string>src/Lib</string>
							</dict>
							<key>src/Util</key>
							<dict>
								<key>Group</key>
								<array>
									<string>src</string>
								</array>
								<key>Path</key>
								<string>src/Util</string>
							</dict>
							<key>resources/Default-568h@2x.png</key>
							<dict>
								<key>Group</key>
								<array>
									<string>resources</string>
								</array>
								<key>Path</key>
								<string>resources/Default-568h@2x.png</string>
							</dict>
							<key>src/Class/Component/Common</key>
							<dict>
								<key>Group</key>
								<array>
									<string>src</string>
									<string>Class</string>
									<string>Component</string>
								</array>
								<key>Path</key>
								<string>src/Class/Component/Common</string>
							</dict>
							<key>src/Class/Component/RootViewController/RootViewController.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>src</string>
									<string>Class</string>
									<string>Component</string>
									<string>RootViewController</string>
								</array>
								<key>Path</key>
								<string>src/Class/Component/RootViewController/RootViewController.swift</string>
							</dict>
							<!--
							<key>Info.plist</key>
							<dict>
								<key>Group</key>
								<string>Supporting Files</string>
								<key>Path</key>
								<string>Info.plist</string>
								<key>TargetIndices</key>
								<array/>
							</dict>
							-->
							<key>Prefix.pch</key>
							<dict>
								<key>Group</key>
								<string>Supporting Files</string>
								<key>Path</key>
								<string>Prefix.pch</string>
								<key>TargetIndices</key>
								<array/>
							</dict>
							<key>src/Class/Main(use coreData)/AppDelegate.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>src</string>
									<string>Class</string>
									<string>Main(use coreData)</string>
								</array>
								<key>Path</key>
								<string>src/Class/Main(use coreData)/AppDelegate.swift</string>
							</dict>
							<!--
							<key>Base.lproj/Main.storyboard</key>
							<dict>
								<key>Path</key>
								<string>Main.storyboard</string>
								<key>SortOrder</key>
								<integer>99</integer>
							</dict>
							-->
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
		
		
		<!-- 华丽丽的分割线 -->
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<!-- <string>Info.plist</string> -->
						<string>Prefix.pch</string>
						<string>src/Class/Main/AppDelegate.h</string>
						<string>src/Class/Main/AppDelegate.m</string>
						<string>src/Class/Component/RootViewController/RootViewController.h</string>
						<string>src/Class/Component/RootViewController/RootViewController.m</string>
						<string>src/Class/Component/RootViewController/NavigationController/NavigationController.h</string>
						<string>src/Class/Component/RootViewController/NavigationController/NavigationController.m</string>
						<string>src/Class/Component/RootViewController/TabBarController/TabBarController.h</string>
						<string>src/Class/Component/RootViewController/TabBarController/TabBarController.m</string>
						<string>src/Class/Component/Common</string>
						<string>src/Lib</string>
						<string>src/Util</string>
						<string>resources/Default-568h@2x.png</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>src/Lib</key>
						<dict>
							<key>Group</key>
							<array>
								<string>src</string>
							</array>
							<key>Path</key>
							<string>src/Lib</string>
						</dict>
						<key>src/Util</key>
						<dict>
							<key>Group</key>
							<array>
								<string>src</string>
							</array>
							<key>Path</key>
							<string>src/Util</string>
						</dict>
						<key>resources/Default-568h@2x.png</key>
						<dict>
							<key>Group</key>
							<array>
								<string>resources</string>
							</array>
							<key>Path</key>
							<string>resources/Default-568h@2x.png</string>
						</dict>
						<key>src/Class/Component/Common</key>
						<dict>
							<key>Group</key>
							<array>
								<string>src</string>
								<string>Class</string>
								<string>Component</string>
							</array>
							<key>Path</key>
							<string>src/Class/Component/Common</string>
						</dict>
						<key>src/Class/Component/RootViewController/RootViewController.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>src</string>
								<string>Class</string>
								<string>Component</string>
								<string>RootViewController</string>
							</array>
							<key>Path</key>
							<string>src/Class/Component/RootViewController/RootViewController.h</string>
						</dict>
						<key>src/Class/Component/RootViewController/RootViewController.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>src</string>
								<string>Class</string>
								<string>Component</string>
								<string>RootViewController</string>
							</array>
							<key>Path</key>
							<string>src/Class/Component/RootViewController/RootViewController.m</string>
						</dict>
						<key>src/Class/Component/RootViewController/NavigationController/NavigationController.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>src</string>
								<string>Class</string>
								<string>Component</string>
								<string>RootViewController</string>
								<string>NavigationController</string>
							</array>
							<key>Path</key>
							<string>src/Class/Component/RootViewController/NavigationController/NavigationController.h</string>
						</dict>
						<key>src/Class/Component/RootViewController/NavigationController/NavigationController.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>src</string>
								<string>Class</string>
								<string>Component</string>
								<string>RootViewController</string>
								<string>NavigationController</string>
							</array>
							<key>Path</key>
							<string>src/Class/Component/RootViewController/NavigationController/NavigationController.m</string>
						</dict>
						<key>src/Class/Component/RootViewController/TabBarController/TabBarController.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>src</string>
								<string>Class</string>
								<string>Component</string>
								<string>RootViewController</string>
								<string>TabBarController</string>
							</array>
							<key>Path</key>
							<string>src/Class/Component/RootViewController/TabBarController/TabBarController.h</string>
						</dict>
						<key>src/Class/Component/RootViewController/TabBarController/TabBarController.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>src</string>
								<string>Class</string>
								<string>Component</string>
								<string>RootViewController</string>
								<string>TabBarController</string>
							</array>
							<key>Path</key>
							<string>src/Class/Component/RootViewController/TabBarController/TabBarController.m</string>
						</dict>
						<!--
						<key>Info.plist</key>
						<dict>
							<key>Group</key>
							<string>Supporting Files</string>
							<key>Path</key>
							<string>Info.plist</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						-->
						<key>Prefix.pch</key>
						<dict>
							<key>Group</key>
							<string>Supporting Files</string>
							<key>Path</key>
							<string>Prefix.pch</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>src/Class/Main/AppDelegate.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>src</string>
								<string>Class</string>
								<string>Main</string>
							</array>
							<key>Path</key>
							<string>src/Class/Main/AppDelegate.h</string>
						</dict>
						<key>src/Class/Main/AppDelegate.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>src</string>
								<string>Class</string>
								<string>Main</string>
							</array>
							<key>Path</key>
							<string>src/Class/Main/AppDelegate.m</string>
						</dict>
						<!--
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main.storyboard</string>
							<key>SortOrder</key>
							<integer>99</integer>
						</dict>
						-->
					</dict>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<!-- <string>Info.plist</string> -->
						<string>Prefix.pch</string>
						<string>src/Class/Main/AppDelegate.swift</string>
						<string>src/Class/Component/RootViewController/RootViewController.swift</string>
						<string>src/Class/Component/Common</string>
						<string>src/Lib</string>
						<string>src/Util</string>
						<string>resources/Default-568h@2x.png</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>src/Lib</key>
						<dict>
							<key>Group</key>
							<array>
								<string>src</string>
							</array>
							<key>Path</key>
							<string>src/Lib</string>
						</dict>
						<key>src/Util</key>
						<dict>
							<key>Group</key>
							<array>
								<string>src</string>
							</array>
							<key>Path</key>
							<string>src/Util</string>
						</dict>
						<key>resources/Default-568h@2x.png</key>
						<dict>
							<key>Group</key>
							<array>
								<string>resources</string>
							</array>
							<key>Path</key>
							<string>resources/Default-568h@2x.png</string>
						</dict>
						<key>src/Class/Component/Common</key>
						<dict>
							<key>Group</key>
							<array>
								<string>src</string>
								<string>Class</string>
								<string>Component</string>
							</array>
							<key>Path</key>
							<string>src/Class/Component/Common</string>
						</dict>
						<key>src/Class/Component/RootViewController/RootViewController.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>src</string>
								<string>Class</string>
								<string>Component</string>
								<string>RootViewController</string>
							</array>
							<key>Path</key>
							<string>src/Class/Component/RootViewController/RootViewController.swift</string>
						</dict>
						<!--
						<key>Info.plist</key>
						<dict>
							<key>Group</key>
							<string>Supporting Files</string>
							<key>Path</key>
							<string>Info.plist</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						-->
						<key>Prefix.pch</key>
						<dict>
							<key>Group</key>
							<string>Supporting Files</string>
							<key>Path</key>
							<string>Prefix.pch</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>src/Class/Main/AppDelegate.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>src</string>
								<string>Class</string>
								<string>Main</string>
							</array>
							<key>Path</key>
							<string>src/Class/Main/AppDelegate.swift</string>
						</dict>
						<!--
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main.storyboard</string>
							<key>SortOrder</key>
							<integer>99</integer>
						</dict>
						-->
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Base.lproj/Main.storyboard</key>
		<dict>
			<key>Path</key>
			<string>Main.storyboard</string>
			<key>SortOrder</key>
			<integer>99</integer>
		</dict>
	</dict>
</dict>
</plist>
