<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
    <array>
		<string>com.gjs.dt.unit.cocoaTouchApplicationBaseEmpty</string>
    </array>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.gjs.dt.unit.emptyApplication</string>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for any application using storyboards (iOS 5 and later). It provides just an application delegate and a window.</string>
	<key>Targets</key>
	<array>
		<dict>
			<key>SharedSettings</key>
			<dict>
				<key>OTHER_LDFLAGS</key>
				<string>-ObjC -all_load</string>
				<key>USER_HEADER_SEARCH_PATHS</key>
				<string>$(BUILT_PRODUCTS_DIR)/usr/local/include</string>
			</dict>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<!-- <string>Info.plist</string> -->
						<string>Prefix.pch</string>
						<string>src/Class/Main/AppDelegate.h</string>
						<string>src/Class/Main/AppDelegate.m</string>
						<string>src/Class/Component/RootViewController/RootViewController.h</string>
						<string>src/Class/Component/RootViewController/RootViewController.m</string>
						<string>src/Class/Component/RootViewController/NavigationController/NavigationController.h</string>
						<string>src/Class/Component/RootViewController/NavigationController/NavigationController.m</string>
						<string>src/Class/Component/RootViewController/TabBarController/TabBarController.h</string>
						<string>src/Class/Component/RootViewController/TabBarController/TabBarController.m</string>
						<string>src/Class/Component/Common</string>
						<string>src/Lib</string>
						<string>src/Util</string>
						<string>resources/Default-568h@2x.png</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>src/Lib</key>
						<dict>
							<key>Group</key>
							<array>
								<string>src</string>
							</array>
							<key>Path</key>
							<string>src/Lib</string>
						</dict>
						<key>src/Util</key>
						<dict>
							<key>Group</key>
							<array>
								<string>src</string>
							</array>
							<key>Path</key>
							<string>src/Util</string>
						</dict>
						<key>resources/Default-568h@2x.png</key>
						<dict>
							<key>Group</key>
							<array>
								<string>resources</string>
							</array>
							<key>Path</key>
							<string>resources/Default-568h@2x.png</string>
						</dict>
						<key>src/Class/Component/Common</key>
						<dict>
							<key>Group</key>
							<array>
								<string>src</string>
								<string>Class</string>
								<string>Component</string>
							</array>
							<key>Path</key>
							<string>src/Class/Component/Common</string>
						</dict>
						<key>src/Class/Component/RootViewController/RootViewController.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>src</string>
								<string>Class</string>
								<string>Component</string>
								<string>RootViewController</string>
							</array>
							<key>Path</key>
							<string>src/Class/Component/RootViewController/RootViewController.h</string>
						</dict>
						<key>src/Class/Component/RootViewController/RootViewController.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>src</string>
								<string>Class</string>
								<string>Component</string>
								<string>RootViewController</string>
							</array>
							<key>Path</key>
							<string>src/Class/Component/RootViewController/RootViewController.m</string>
						</dict>
						<key>src/Class/Component/RootViewController/NavigationController/NavigationController.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>src</string>
								<string>Class</string>
								<string>Component</string>
								<string>RootViewController</string>
								<string>NavigationController</string>
							</array>
							<key>Path</key>
							<string>src/Class/Component/RootViewController/NavigationController/NavigationController.h</string>
						</dict>
						<key>src/Class/Component/RootViewController/NavigationController/NavigationController.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>src</string>
								<string>Class</string>
								<string>Component</string>
								<string>RootViewController</string>
								<string>NavigationController</string>
							</array>
							<key>Path</key>
							<string>src/Class/Component/RootViewController/NavigationController/NavigationController.m</string>
						</dict>
						<key>src/Class/Component/RootViewController/TabBarController/TabBarController.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>src</string>
								<string>Class</string>
								<string>Component</string>
								<string>RootViewController</string>
								<string>TabBarController</string>
							</array>
							<key>Path</key>
							<string>src/Class/Component/RootViewController/TabBarController/TabBarController.h</string>
						</dict>
						<key>src/Class/Component/RootViewController/TabBarController/TabBarController.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>src</string>
								<string>Class</string>
								<string>Component</string>
								<string>RootViewController</string>
								<string>TabBarController</string>
							</array>
							<key>Path</key>
							<string>src/Class/Component/RootViewController/TabBarController/TabBarController.m</string>
						</dict>
						<!--
						<key>Info.plist</key>
						<dict>
							<key>Group</key>
							<string>Supporting Files</string>
							<key>Path</key>
							<string>Info.plist</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						-->
						<key>Prefix.pch</key>
						<dict>
							<key>Group</key>
							<string>Supporting Files</string>
							<key>Path</key>
							<string>Prefix.pch</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>src/Class/Main/AppDelegate.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>src</string>
								<string>Class</string>
								<string>Main</string>
							</array>
							<key>Path</key>
							<string>src/Class/Main/AppDelegate.h</string>
						</dict>
						<key>src/Class/Main/AppDelegate.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>src</string>
								<string>Class</string>
								<string>Main</string>
							</array>
							<key>Path</key>
							<string>src/Class/Main/AppDelegate.m</string>
						</dict>
						<!--
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main.storyboard</string>
							<key>SortOrder</key>
							<integer>99</integer>
						</dict>
						-->
					</dict>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<!-- <string>Info.plist</string> -->
						<string>Prefix.pch</string>
						<string>src/Class/Main/AppDelegate.swift</string>
						<string>src/Class/Component/RootViewController/RootViewController.swift</string>
						<string>src/Class/Component/Common</string>
						<string>src/Lib</string>
						<string>src/Util</string>
						<string>resources/Default-568h@2x.png</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>src/Lib</key>
						<dict>
							<key>Group</key>
							<array>
								<string>src</string>
							</array>
							<key>Path</key>
							<string>src/Lib</string>
						</dict>
						<key>src/Util</key>
						<dict>
							<key>Group</key>
							<array>
								<string>src</string>
							</array>
							<key>Path</key>
							<string>src/Util</string>
						</dict>
						<key>resources/Default-568h@2x.png</key>
						<dict>
							<key>Group</key>
							<array>
								<string>resources</string>
							</array>
							<key>Path</key>
							<string>resources/Default-568h@2x.png</string>
						</dict>
						<key>src/Class/Component/Common</key>
						<dict>
							<key>Group</key>
							<array>
								<string>src</string>
								<string>Class</string>
								<string>Component</string>
							</array>
							<key>Path</key>
							<string>src/Class/Component/Common</string>
						</dict>
						<key>src/Class/Component/RootViewController/RootViewController.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>src</string>
								<string>Class</string>
								<string>Component</string>
								<string>RootViewController</string>
							</array>
							<key>Path</key>
							<string>src/Class/Component/RootViewController/RootViewController.swift</string>
						</dict>
						<!--
						<key>Info.plist</key>
						<dict>
							<key>Group</key>
							<string>Supporting Files</string>
							<key>Path</key>
							<string>Info.plist</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						-->
						<key>Prefix.pch</key>
						<dict>
							<key>Group</key>
							<string>Supporting Files</string>
							<key>Path</key>
							<string>Prefix.pch</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>src/Class/Main/AppDelegate.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>src</string>
								<string>Class</string>
								<string>Main</string>
							</array>
							<key>Path</key>
							<string>src/Class/Main/AppDelegate.swift</string>
						</dict>
						<!--
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main.storyboard</string>
							<key>SortOrder</key>
							<integer>99</integer>
						</dict>
						-->
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
