<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.apple.dt.unit.ios.game</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.storyboardApplication</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Description</key>
    <string>This template provides a starting point for games.</string>
    <key>Nodes</key>
    <array>
        <string>Info.plist:UIStatusBarHidden</string>
    </array>
    <key>Definitions</key>
    <dict>
        <key>Info.plist:UIStatusBarHidden</key>
        <string>&lt;key&gt;UIStatusBarHidden&lt;/key&gt;
&lt;true/&gt;
</string>
    </dict>
    <key>Project</key>
    <dict>
        <key>Configurations</key>
        <dict>
            <key>Debug</key>
            <dict>
                <key>DEBUG_INFORMATION_FORMAT</key>
                <string>dwarf-with-dsym</string>
            </dict>
            <key>Release</key>
            <dict>
                <key>DEBUG_INFORMATION_FORMAT</key>
                <string>dwarf-with-dsym</string>
            </dict>
        </dict>
    </dict>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>gameType</string>
            <key>Name</key>
            <string>Game Technology:</string>
            <key>Description</key>
            <string>The type of game technology to use to create your game</string>
            <key>Values</key>
            <array>
                <string>SceneKit</string>
                <string>SpriteKit</string>
                <string>OpenGL ES</string>
                <string>Metal</string>
            </array>
            <key>Default</key>
            <string>SceneKit</string>
            <key>Type</key>
            <string>popup</string>
            <key>Units</key>
            <dict>
                <key>SceneKit</key>
                <array>
                    <dict>
                        <!-- gameType=SceneKit -->
                        <key>Nodes</key>
                        <array>
                            <string>art.scnassets</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>Base.lproj/Main.storyboard</key>
                            <dict>
                                <key>Path</key>
                                <string>SceneKit_Main.storyboard</string>
                                <key>SortOrder</key>
                                <integer>99</integer>
                            </dict>
                            <key>art.scnassets</key>
                            <dict>
                                <key>Path</key>
                                <string>art.scnassets</string>
                            </dict>
                        </dict>
                    </dict>
                    <dict>
                        <!-- gameType=SceneKit && languageChoice=Objective-C -->
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Objective-C</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>GameViewController.h</string>
                            <string>GameViewController.m</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>GameViewController.h</key>
                            <dict>
                                <key>Path</key>
                                <string>SceneKit_GameViewController.h</string>
                            </dict>
                            <key>GameViewController.m</key>
                            <dict>
                                <key>Path</key>
                                <string>SceneKit_GameViewController.m</string>
                            </dict>
                        </dict>
                    </dict>
                    <dict>
                        <!-- gameType=SceneKit && languageChoice=Swift -->
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Swift</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>GameViewController.swift</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>GameViewController.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>SceneKit_GameViewController.swift</string>
                            </dict>
                        </dict>
                    </dict>
                </array>
                <key>SpriteKit</key>
                <array>
                    <dict>
                        <!-- gameType=SpriteKit -->
                        <key>Definitions</key>
                        <dict>
                            <key>Base.lproj/Main.storyboard</key>
                            <dict>
                                <key>Path</key>
                                <string>SpriteKit_Main.storyboard</string>
                                <key>SortOrder</key>
                                <integer>99</integer>
                            </dict>
                        </dict>
                    </dict>
                    <dict>
                        <!-- gameType=SpriteKit && languageChoice=Objective-C -->
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Objective-C</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>GameScene.h</string>
                            <string>GameScene.m</string>
                            <string>GameScene.sks</string>
                            <string>GameViewController.h</string>
                            <string>GameViewController.m</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>GameScene.h</key>
                            <dict>
                                <key>Path</key>
                                <string>GameScene.h</string>
                            </dict>
                            <key>GameScene.m</key>
                            <dict>
                                <key>Path</key>
                                <string>GameScene.m</string>
                            </dict>
                            <key>GameScene.sks</key>
                            <dict>
                                <key>Path</key>
                                <string>GameScene.sks</string>
                            </dict>
                            <key>GameViewController.h</key>
                            <dict>
                                <key>Path</key>
                                <string>SpriteKit_GameViewController.h</string>
                            </dict>
                            <key>GameViewController.m</key>
                            <dict>
                                <key>Path</key>
                                <string>SpriteKit_GameViewController.m</string>
                            </dict>
                        </dict>
                    </dict>
                    <dict>
                        <!-- gameType=SpriteKit && languageChoice=Swift -->
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Swift</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>GameScene.sks</string>
                            <string>GameScene.swift</string>
                            <string>GameViewController.swift</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>GameScene.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>GameScene.swift</string>
                            </dict>
                            <key>GameScene.sks</key>
                            <dict>
                                <key>Path</key>
                                <string>GameScene.sks</string>
                            </dict>
                            <key>GameViewController.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>SpriteKit_GameViewController.swift</string>
                            </dict>
                        </dict>
                    </dict>
                </array>
                <key>OpenGL ES</key>
                <array>
                    <dict>
                        <!-- gameType=OpenGL ES -->
                        <key>Nodes</key>
                        <array>
                            <string>Shaders/Shader.fsh</string>
                            <string>Shaders/Shader.vsh</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>Base.lproj/Main.storyboard</key>
                            <dict>
                                <key>Path</key>
                                <string>GLES_Main.storyboard</string>
                                <key>SortOrder</key>
                                <integer>99</integer>
                            </dict>
                            <key>Shaders/Shader.fsh</key>
                            <dict>
                                <key>Path</key>
                                <string>Shader.fsh</string>
                            </dict>
                            <key>Shaders/Shader.vsh</key>
                            <dict>
                                <key>Path</key>
                                <string>Shader.vsh</string>
                            </dict>
                        </dict>
                    </dict>
                    <dict>
                        <!-- gameType=OpenGL ES && languageChoice=Objective-C -->
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Objective-C</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>GameViewController.h</string>
                            <string>GameViewController.m</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>GameViewController.m</key>
                            <dict>
                                <key>Path</key>
                                <string>GLES_GameViewController.m</string>
                            </dict>
                            <key>GameViewController.h</key>
                            <dict>
                                <key>Path</key>
                                <string>GLES_GameViewController.h</string>
                            </dict>
                        </dict>
                    </dict>
                    <dict>
                        <!-- gameType=OpenGL ES && languageChoice=Swift -->
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Swift</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>GameViewController.swift</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>GameViewController.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>GLES_GameViewController.swift</string>
                            </dict>
                        </dict>
                    </dict>
                </array>
                <key>Metal</key>
                <array>
                    <dict>
                        <!-- gameType=Metal -->
                        <key>Nodes</key>
                        <array>
                            <string>Info.plist:UIRequiredDeviceCapabilities:metal</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>Info.plist:UIRequiredDeviceCapabilities:metal</key>
                            <string>&lt;string&gt;metal&lt;/string&gt;</string>
                            <key>Base.lproj/Main.storyboard</key>
                            <dict>
                                <key>Path</key>
                                <string>Metal_Main.storyboard</string>
                                <key>SortOrder</key>
                                <integer>99</integer>
                            </dict>
                        </dict>
                    </dict>
                    <dict>
                        <!-- gameType=Metal && languageChoice=Objective-C -->
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Objective-C</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>GameViewController.h</string>
                            <string>GameViewController.m</string>
                            <string>Shaders.metal</string>
                            <string>SharedStructures.h</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>SharedStructures.h</key>
                            <dict>
                                <key>Path</key>
                                <string>Metal_SharedStructures.h</string>
                            </dict>
                            <key>GameViewController.m</key>
                            <dict>
                                <key>Path</key>
                                <string>Metal_GameViewController.m</string>
                            </dict>
                            <key>GameViewController.h</key>
                            <dict>
                                <key>Path</key>
                                <string>Metal_GameViewController.h</string>
                            </dict>
                            <key>Shaders.metal</key>
                            <dict>
                                <key>Path</key>
                                <string>Metal_Shaders.metal</string>
                            </dict>
                        </dict>
                    </dict>
                    <dict>
                        <!-- gameType=Metal && languageChoice=Swift -->
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Swift</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>GameViewController.swift</string>
                            <string>Shaders.metal</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>GameViewController.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>Metal_GameViewController.swift</string>
                            </dict>
                            <key>Shaders.metal</key>
                            <dict>
                                <key>Path</key>
                                <string>Metal_Swift_Shaders.metal</string>
                            </dict>
                        </dict>
                    </dict>
                </array>
            </dict>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>universalDeviceFamily</string>
            <key>Units</key>
            <dict>
                <key>iPhone</key>
                <array>
                    <dict>
                        <!-- universalDeviceFamily=iPhone && gameType=SpriteKit -->
                        <key>RequiredOptions</key>
                        <dict>
                            <key>gameType</key>
                            <string>SpriteKit</string>
                        </dict>
                        <key>Definitions</key>
                        <dict>
                            <key>Assets.xcassets</key>
                            <dict>
                                <key>SortOrder</key>
                                <integer>100</integer>
                                <key>Path</key>
                                <string>SpriteKit_Images-iPhone.xcassets</string>
                            </dict>
                        </dict>
                    </dict>
                    <dict>
                        <!-- universalDeviceFamily=iPhone && gameType=SceneKit -->
                        <key>RequiredOptions</key>
                        <dict>
                            <key>gameType</key>
                            <string>SceneKit</string>
                        </dict>
                        <key>Definitions</key>
                        <dict>
                            <key>Assets.xcassets</key>
                            <dict>
                                <key>SortOrder</key>
                                <integer>100</integer>
                                <key>Path</key>
                                <string>SceneKit_Images-iPhone.xcassets</string>
                            </dict>
                        </dict>
                    </dict>
                </array>
                <key>iPad</key>
                <array>
                    <dict>
                        <!-- universalDeviceFamily=iPad && gameType=SpriteKit -->
                        <key>RequiredOptions</key>
                        <dict>
                            <key>gameType</key>
                            <string>SpriteKit</string>
                        </dict>
                        <key>Definitions</key>
                        <dict>
                            <key>Assets.xcassets</key>
                            <dict>
                                <key>SortOrder</key>
                                <integer>100</integer>
                                <key>Path</key>
                                <string>SpriteKit_Images-iPad.xcassets</string>
                            </dict>
                        </dict>
                    </dict>
                    <dict>
                        <!-- universalDeviceFamily=iPad && gameType=SceneKit -->
                        <key>RequiredOptions</key>
                        <dict>
                            <key>gameType</key>
                            <string>SceneKit</string>
                        </dict>
                        <key>Definitions</key>
                        <dict>
                            <key>Assets.xcassets</key>
                            <dict>
                                <key>SortOrder</key>
                                <integer>100</integer>
                                <key>Path</key>
                                <string>SceneKit_Images-iPad.xcassets</string>
                            </dict>
                        </dict>
                    </dict>
                </array>
                <key>Universal</key>
                <array>
                    <dict>
                        <!-- universalDeviceFamily=Universal && gameType=SpriteKit -->
                        <key>RequiredOptions</key>
                        <dict>
                            <key>gameType</key>
                            <string>SpriteKit</string>
                        </dict>
                        <key>Definitions</key>
                        <dict>
                            <key>Assets.xcassets</key>
                            <dict>
                                <key>SortOrder</key>
                                <integer>100</integer>
                                <key>Path</key>
                                <string>SpriteKit_Images-Universal.xcassets</string>
                            </dict>
                        </dict>
                    </dict>
                    <dict>
                        <!-- universalDeviceFamily=Universal && gameType=SceneKit -->
                        <key>RequiredOptions</key>
                        <dict>
                            <key>gameType</key>
                            <string>SceneKit</string>
                        </dict>
                        <key>Definitions</key>
                        <dict>
                            <key>Assets.xcassets</key>
                            <dict>
                                <key>SortOrder</key>
                                <integer>100</integer>
                                <key>Path</key>
                                <string>SceneKit_Images-Universal.xcassets</string>
                            </dict>
                        </dict>
                    </dict>
                </array>
            </dict>
        </dict>
    </array>
</dict>
</plist>
